.container {
  width: 100%;
  margin-top: 2rem;
  animation: scale 1s ease-in;
}
@keyframes scale {
    0% {
      transform:translateX(-60rem);
    }
    100% {
      transform: translateX(0);
    }
  }
.title {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}
.title h3 {
  color: aliceblue;
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
}
.line {
  width: 40%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.line::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 3px solid #f84018;
  border-radius: 50%;
  position: absolute;
  right: -35px;
  top: -16px;
}
