.letter-s {
    border-collapse: collapse;
  }
  /* .letter-s:hover{
    transform: scale(1.1);
    padding-top: 1rem;
  } */
  .letter-s td {
    width: 15px;
    height: 15px;
    /* border: 1px solid black; */
  }
  .letter-s td span{
    color: aliceblue;
  }
  
  .corner {
    background-color: rgb(80, 80, 80);
    /* border: 1px solid  #F84018; */
  }
  
  /* .top {
    border-bottom: none;
  }
  
  .middle {
    background-color: black;
  }
   */