.letter-s {
    border-collapse: collapse;
  }
  /* .letter-s:hover{
    transform: scale(1.1);
    padding-top: 1rem;
  } */
  .letter-s td {
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
  }
  .letter-s td span{
    color: aliceblue;
  }
  
  .corner {
    background-color: rgba(0, 0, 0, 0.082);
    border: 1px solid  #F84018;
  }
  
  .top {
    border-bottom: none;
  }
  
  .middle {
    background-color: black;
  }
  